/gateway/target/
/main/target/
/main/target/
/registry/target/
/user-uaa/target/
.metadata/
.sonarlint
.idea/
/.idea/
data/
product-ms/


#node_modules
gateway/src/main/webapp/node/node_modules/
/gateway/src/main/webapp/node/node_modules/
gateway/src/main/webapp/node_modules/
gateway/src/main/webapp/dist/
